<article>
    <div>
        <a href="/{{id}}">
        {{title}} by {{user.username}}
        </a>
    </div>
    <div>
        {{createdAt}}
    </div>

    <div>
        {{body}}
    </div>
</article>