<div class="card">
    <header class="card-header">
        <div class="card-title-name-date">
        <p class="card-header-title">
            {{#if isDashboard}}
            <a href="/dashboard/edit/{{id}}" class="post-title">
                {{capitalize_sentences title}}
                </a>
            {{else}}

            <a href="/post/{{id}}" class="post-title">
                {{capitalize_sentences title}}
                </a>
            {{/if}}
        </p>
            <div class="name-date">
            by {{capitalize_sentences user.username}} on {{format_date createdAt}}
            </div>
        </div>
    </header>
    <div class="card-content">
        <div class="content post-title">
            {{body}}
        </div>
    </div>
</div>