<div class="flex-container">
    <div class="post-info">
        <div class="card">
            <header class="card-header">
                <div class="card-title-name-date">
                    <p class="card-header-title">
                        {{capitalize_sentences postsData.title}}
                    </p>
                    <div class="name-date">
                        by {{capitalize_sentences postsData.user.username}} on {{format_date postsData.createdAt}}
                    </div>
                </div>
            </header>
            <div class="card-content">
                <div class="content post-text">
                    {{postsData.body}}
                </div>
            </div>
            <div class="card-footer"></div>
            <h3>COMMENTS</h3>
            {{#if isLoggedIn}}
                {{> add-comment}}
            {{/if}}
            <div class="comments-container">
                {{#each postsData.comments as |comment|}}
                    {{logger comment}}
                    {{> display-comment comment}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
